spring:
  main:
    web-application-type: none
  application:
    name: AgentForge
  datasource:
    url: jdbc:sqlite:data/agentforge.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: false
